<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/taing.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>랜딩 페이지 모달</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/js/main_page.js"></script>
  </head>
  <body class="bg-black text-white">
    <div class="dialog-area">
      <dialog class="main-dialog landing-dialog w-[18rem] md:w-[25rem]" aria-label="">
        <div class="text-black notice-box">
          <p class="text-lg md:text-2xl font-semibold">Notice</p>
          <p class="text-sm md:text-base">지금 방문하신 사이트는 멋쟁이 사자처럼 프론트엔드 부트캠프 13기 &lt;삼식이&gt; 팀의 프로젝트입니다. 본 프로젝트는 교육 목적으로 제작되었으며, 상업적 용도가 아님을 안내드립니다. 또한, 본 사이트는 TVING과 무관함을 알려드립니다.</p>
          <button type="button" class="close-dialog landing-close cursor-pointer">확인</button>
        </div>
      </dialog>
    </div>
  </body>
</html>
