<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 컴포넌트</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white mt-30">
    <article>
      <h2 class="text-center text-3xl lg:text-4xl font-semibold mb-4 lg:mb-5">내가 찾던 재미</h2>
      <p class="text-center text-base lg:text-lg text-gray-100 mb-0.5 lg:mb-1">보고 싶은 콘텐츠를 발견하세요!</p>
      <p class="text-center text-sm lg:text-base text-gray-300 mb-10">최신, 인기 TV프로그램, 영화, 해외시리즈, 파라마운트+ 오리지널 및 독점</p>
      <div class="overflow-hidden flex flex-col flex-nowrap gap-2 lg:gap-5">
        <div class="animate-[slideleft_20s_infinite] [animation-timing-function:linear] [animation-fill-mode:forwards] grid grid-cols-[repeat(10,_182px)] lg:grid-cols-[repeat(10,_470px)] gap-2 lg:gap-5 w-fit">
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/manager_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/manager_lg.webp" loading="lazy" alt="연예인 매니저로 살아남기" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/shurup_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/shurup_lg.webp" loading="lazy" alt="슈룹" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/you_quiz_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/you_quiz_lg.webp" loading="lazy" alt="유퀴즈 온더 블럭" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/let_me_in_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/let_me_in_lg.webp" loading="lazy" alt="렛미인" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/food_chronicle_sm.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/food_chronicle_md.webp" loading="lazy" alt="푸드 크로니클" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/manager_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/manager_lg.webp" loading="lazy" alt="연예인 매니저로 살아남기" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/shurup_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/shurup_lg.webp" loading="lazy" alt="슈룹" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/you_quiz_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/you_quiz_lg.webp" loading="lazy" alt="유퀴즈 온더 블럭" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/let_me_in_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/let_me_in_lg.webp" loading="lazy" alt="렛미인" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/food_chronicle_sm.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/food_chronicle_md.webp" loading="lazy" alt="푸드 크로니클" />
          </picture>
        </div>
        <div class="animate-[slideright_20s_infinite] [animation-timing-function:linear] [animation-fill-mode:forwards] grid grid-cols-[repeat(10,_182px)] lg:grid-cols-[repeat(10,_470px)] gap-2 lg:gap-5 w-fit">
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/let_me_in_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/let_me_in_lg.webp" loading="lazy" alt="렛미인" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/you_quiz_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/you_quiz_lg.webp" loading="lazy" alt="유퀴즈 온더 블럭" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/food_chronicle_sm.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/food_chronicle_md.webp" loading="lazy" alt="푸드 크로니클" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/shurup_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/shurup_lg.webp" loading="lazy" alt="슈룹" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/manager_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/manager_lg.webp" loading="lazy" alt="연예인 매니저로 살아남기" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/let_me_in_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/let_me_in_lg.webp" loading="lazy" alt="렛미인" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/you_quiz_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/you_quiz_lg.webp" loading="lazy" alt="유퀴즈 온더 블럭" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/food_chronicle_sm.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/food_chronicle_md.webp" loading="lazy" alt="푸드 크로니클" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/shurup_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/shurup_lg.webp" loading="lazy" alt="슈룹" />
          </picture>
          <picture>
            <source srcset="../../assets/poster/fun_in_taing/manager_md.webp" media="(max-width: 1024px)" />
            <img src="../../assets/poster/fun_in_taing/manager_lg.webp" loading="lazy" alt="연예인 매니저로 살아남기" />
          </picture>
        </div>
      </div>
    </article>
  </body>
</html>
