<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/taing.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 스와이퍼</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white">
    <div class="overflow-hidden relative">
      <div class="slides w-full">
        <div class="slide">
          <img src="../assets/banner/banner_img_lg.png" alt="재벌집 막내아들" />
        </div>
        <div class="slide">
          <img src="../assets/banner/banner_img_lg.png" alt="재벌집 막내아들" />
        </div>
        <div class="slide">
          <img src="../assets/banner/banner_img_lg.png" alt="재벌집 막내아들" />
        </div>
        <div class="slide">
          <img src="../assets/banner/banner_img_lg.png" alt="재벌집 막내아들" />
        </div>
      </div>

      <div class="flex flex-col gap-2 absolute left-[5%] bottom-[10%]">
        <p class="text-sm font-semibold md:text-base lg:text-xl">인생 2회차를 사는 판타지 드라마</p>
        <div class="flex h-3 gap-[.1875rem] items-center">
          <!-- 동적으로 SVG가 변경되는 버튼 -->
          <button id="pauseButton" class="pause-button w-3 h-3 fill-white mr-3">
            <!-- 초기에 재생 아이콘을 표시 -->
            <svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="2" y="1" width="5" height="16" fill="white" />
              <rect x="11" y="1" width="5" height="16" fill="white" />
            </svg>
          </button>
          <!-- 하단 인디케이터 -->
          <div class="indicators">
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
          </div>
        </div>
      </div>

      <!-- 자세히보기 버튼 -->
      <a href="#" class="absolute right-[5%] bottom-[10%] px-8 h-10 inline-flex justify-center items-center text-xs border border-[#a6a6a6] rounded-md text-white"> 자세히보기 </a>

      <!-- 배너 이미지를 넘기는 기능의 방향 버튼 -->
      <div class="flex w-full justify-between absolute top-[calc(50%_-_1.5rem)]">
        <button type="button">
          <svg width="48" height="48" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_152_6070)">
              <g opacity="0.7">
                <path d="M8.826 3.34766L5.17383 6.99983" stroke="#898989" stroke-width="0.7" stroke-linecap="square" />
                <path d="M5.17383 7L8.826 10.6522" stroke="#898989" stroke-width="0.7" stroke-linecap="square" />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_152_6070">
                <rect width="14" height="14" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button type="button">
          <svg width="48" height="48" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_152_6069)">
              <path d="M5.17383 3.34766L8.826 6.99983" stroke="#898989" stroke-width="0.7" stroke-linecap="square" />
              <path d="M8.826 7L5.17383 10.6522" stroke="#898989" stroke-width="0.7" stroke-linecap="square" />
            </g>
            <defs>
              <clipPath id="clip0_152_6069">
                <rect width="14" height="14" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </body>
</html>
