<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/taing.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 카드 컴포넌트</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white">
    <!-- 카드 컴포넌트: 타잉에서 곡 봐야하는 콘텐츠 -->
    <section>
      <div class="card-flex">
        <h2>타잉에서 꼭 봐야하는 콘텐츠</h2>
        <div class="grid grid-cols-[repeat(8,_5.75rem)] md:grid-cols-[repeat(8,_8.125rem)] lg:grid-cols-[repeat(8,_15rem)] overflow-x-auto scrollbar-hide gap-4">
          <ul class="contents">
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/treasure_hunt_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/treasure_hunt_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/treasure_hunt_lg.webp" loading="lazy" alt="보물 찾기" />
                  </picture>
                  <figcaption class="truncate">보물 찾기</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/love_catcher_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/love_catcher_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/love_catcher_lg.webp" loading="lazy" alt="러브캐처 인 발리" />
                  </picture>
                  <figcaption class="truncate">러브캐처 인 발리</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/drunk_urban_women_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/drunk_urban_women_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/drunk_urban_women_lg.webp" loading="lazy" alt="술꾼도시여자들2" />
                  </picture>
                  <figcaption class="truncate">술꾼도시여자들2</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/tulsa_king_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/tulsa_king_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/tulsa_king_lg.webp" loading="lazy" alt="털사 킹" />
                  </picture>
                  <figcaption class="truncate">털사 킹</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/nothing_to_do_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/nothing_to_do_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/nothing_to_do_lg.webp" loading="lazy" alt="아무것도 하고 싶지 않아" />
                  </picture>
                  <figcaption class="truncate">아무것도 하고 싶지 않아</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/black_dog_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/black_dog_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/black_dog_lg.webp" loading="lazy" alt="블랙독" />
                  </picture>
                  <figcaption class="truncate">블랙독</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/blues_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/blues_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/blues_lg.webp" loading="lazy" alt="우리들의 블루스" />
                  </picture>
                  <figcaption class="truncate">우리들의 블루스</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/contents/kilimanjaro_sm.webp 92w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/contents/kilimanjaro_md.webp 130w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/contents/kilimanjaro_lg.webp" loading="lazy" alt="인생에 한 번쯤, 킬리만자로" />
                  </picture>
                  <figcaption class="truncate">인생에 한 번쯤, 킬리만자로</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 카드 컴포넌트: Quick VOD -->
    <section>
      <div class="card-flex">
        <h2>Quick VOD</h2>
        <div class="grid grid-cols-[repeat(6,_9.0625rem)] md:grid-cols-[repeat(6,_14rem)] lg:grid-cols-[repeat(6,_21.5625rem)] overflow-x-auto scrollbar-hide gap-4">
          <ul class="contents">
            <li>
              <a href="#">
                <figure class="main-card relative">
                  <picture>
                    <source srcset="../../assets/poster/Quick_VOD/jtbc_news_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/Quick_VOD/jtbc_news_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/Quick_VOD/jtbc_news_lg.webp" loading="lazy" alt="JTBC 뉴스룸" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <span class="contents-name">JTBC 뉴스룸</span>
                    <span class="contents-description">0화</span>
                  </figcaption>
                  <div class="Quick-VOD">
                    <span>Quick VOD</span>
                  </div>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card relative">
                  <picture>
                    <source srcset="../../assets/poster/Quick_VOD/i_decided_to_live_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/Quick_VOD/i_decided_to_live_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/Quick_VOD/i_decided_to_live_lg.webp" loading="lazy" alt="휴먼다큐 '나는 살기로 했다'" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <span class="contents-name">휴먼다큐 &lt;나는 살기로 했다&gt;</span>
                    <span class="contents-description">10화</span>
                  </figcaption>
                  <div class="Quick-VOD">
                    <span>Quick VOD</span>
                  </div>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card relative">
                  <picture>
                    <source srcset="../../assets/poster/Quick_VOD/health_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/Quick_VOD/health_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/Quick_VOD/health_lg.webp" loading="lazy" alt="건강면세점" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <span class="contents-name">건강면세점</span>
                    <span class="contents-description">130화</span>
                  </figcaption>
                  <div class="Quick-VOD">
                    <span>Quick VOD</span>
                  </div>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card relative">
                  <picture>
                    <source srcset="../../assets/poster/Quick_VOD/different_class_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/Quick_VOD/different_class_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/Quick_VOD/different_class_lg.webp" loading="lazy" alt="차이나는 클라스" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <span class="contents-name">차이나는 클라스</span>
                    <span class="contents-description">254화</span>
                  </figcaption>
                  <div class="Quick-VOD">
                    <span>Quick VOD</span>
                  </div>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card relative">
                  <picture>
                    <source srcset="../../assets/poster/Quick_VOD/almaeng_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/Quick_VOD/almaeng_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/Quick_VOD/almaeng_lg.webp" loading="lazy" alt="알맹이" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <span class="contents-name">알맹이</span>
                    <span class="contents-description">208화</span>
                  </figcaption>
                  <div class="Quick-VOD">
                    <span>Quick VOD</span>
                  </div>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card relative">
                  <picture>
                    <source srcset="../../assets/poster/Quick_VOD/mom_spring_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/Quick_VOD/mom_spring_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/Quick_VOD/mom_spring_lg.webp" loading="lazy" alt="엄마의 봄날" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <span class="contents-name">엄마의 봄날</span>
                    <span class="contents-description">380화</span>
                  </figcaption>
                  <div class="Quick-VOD">
                    <span>Quick VOD</span>
                  </div>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 카드 컴포넌트: 실시간 인기 프로그램 -->
    <section>
      <div class="card-flex">
        <h2>실시간 인기 프로그램</h2>
        <div class="grid grid-cols-[repeat(8,_5.75rem)] md:grid-cols-[repeat(8,_8.125rem)] lg:grid-cols-[repeat(8,_15rem)] overflow-x-auto scrollbar-hide gap-4">
          <ul class="contents">
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/chaebol_son_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/chaebol_son_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/chaebol_son_lg.webp" loading="lazy" alt="재벌집 막내아들" />
                  </picture>
                  <figcaption class="flex overflow-visible items-baseline -mt-[15%]">
                    <span class="contents-rank">1</span>
                    <div class="truncate contents-name">재벌집 막내아들</div>
                    <div class="new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/drunk_urban_women_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/drunk_urban_women_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/drunk_urban_women_lg.webp" loading="lazy" alt="술꾼도시여자들2" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">2</span>
                    <div class="truncate contents-name">술꾼도시여자들2</div>
                    <div class="hidden new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/twilight_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/twilight_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/twilight_lg.webp" loading="lazy" alt="환혼" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">3</span>
                    <div class="truncate contents-name">환혼</div>
                    <div class="new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/Canada_checkin_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/Canada_checkin_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/Canada_checkin_lg.webp" loading="lazy" alt="캐나다 체크인" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">4</span>
                    <div class="truncate contents-name">캐나다 체크인</div>
                    <div class="new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/Saturday_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/Saturday_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/Saturday_lg.webp" loading="lazy" alt="놀라운 토요일" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">5</span>
                    <div class="truncate contents-name">놀라운 토요일</div>
                    <div class="new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/Show_me_the_money_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/Show_me_the_money_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/Show_me_the_money_lg.webp" loading="lazy" alt="SHOW ME THE MONEY" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">6</span>
                    <div class="truncate contents-name">SHOW ME THE MONEY</div>
                    <div class="new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/love_catcher_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/love_catcher_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/love_catcher_lg.webp" loading="lazy" alt="러브캐처 인 발리" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">7</span>
                    <div class="truncate contents-name">러브캐처 인 발리</div>
                    <div class="hidden new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/popular_programs/useful_job_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/popular_programs/useful_job_md.webp 224w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/popular_programs/useful_job_lg.webp" loading="lazy" alt="알뜰신잡" />
                  </picture>
                  <figcaption class="flex items-baseline -mt-[15%]">
                    <span class="contents-rank">8</span>
                    <div class="truncate contents-name">알뜰신잡</div>
                    <div class="new-sign" aria-label="new"></div>
                  </figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 카드 컴포넌트: 인기 LIVE 채널 -->
    <section>
      <div class="card-flex">
        <h2>인기 LIVE 채널</h2>
        <div class="grid grid-cols-[repeat(6,_9.0625rem)] md:grid-cols-[repeat(6,_14.0625rem)] lg:grid-cols-[repeat(6,_21.5625rem)] overflow-x-auto scrollbar-hide gap-4">
          <ul class="contents">
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/LIVE/JTBC_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/LIVE/JTBC_md.webp 225w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/LIVE/JTBC_lg.webp" loading="lazy" alt="JTBC 뉴스룸" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <div class="inline-flex items-start -mt-2">
                      <span class="contents-rank">1</span>
                      <div class="flex flex-col mt-[2%]">
                        <span class="contents-name">JTBC</span>
                        <span class="text-gray-400 contents-description">JTBC 뉴스룸</span>
                        <span class="text-gray-500 contents-description">27.9%</span>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/LIVE/tvN_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/LIVE/tvN_md.webp 225w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/LIVE/tvN_lg.webp" loading="lazy" alt="줄 서는 식당 43회" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <div class="inline-flex items-start -mt-2">
                      <span class="contents-rank">2</span>
                      <div class="flex flex-col mt-[2%]">
                        <span class="contents-name">tvN</span>
                        <span class="text-gray-400 contents-description">줄 서는 식당 43회</span>
                        <span class="text-gray-500 contents-description">26.3%</span>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/LIVE/YTN_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/LIVE/YTN_md.webp 225w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/LIVE/YTN_lg.webp" loading="lazy" alt="뉴스가 있는 저녁" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <div class="inline-flex items-start -mt-2">
                      <span class="contents-rank">3</span>
                      <div class="flex flex-col mt-[2%]">
                        <span class="contents-name">YTN</span>
                        <span class="text-gray-400 contents-description">뉴스가 있는 저녁</span>
                        <span class="text-gray-500 contents-description">9%</span>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/LIVE/JTBC2_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/LIVE/JTBC2_md.webp 225w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/LIVE/JTBC2_lg.webp" loading="lazy" alt="재벌집 막내 아들 5화" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <div class="inline-flex items-start -mt-2">
                      <span class="contents-rank">4</span>
                      <div class="flex flex-col mt-[2%]">
                        <span class="contents-name">JTBC2</span>
                        <span class="text-gray-400 contents-description">재벌집 막내아들 5화</span>
                        <span class="text-gray-500 contents-description">6.2%</span>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/LIVE/YonhapNewsTV_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/LIVE/YonhapNewsTV_md.webp 225w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/LIVE/YonhapNewsTV_lg.webp" loading="lazy" alt="뉴스프라임" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <div class="inline-flex items-start -mt-2">
                      <span class="contents-rank">5</span>
                      <div class="flex flex-col mt-[2%]">
                        <span class="contents-name">연합뉴스 TV</span>
                        <span class="text-gray-400 contents-description">뉴스프라임</span>
                        <span class="text-gray-500 contents-description">4.6%</span>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card">
                  <picture>
                    <source srcset="../../assets/poster/LIVE/Toonibus_sm.webp 145w" media="(max-width: 768px)" />
                    <source srcset="../../assets/poster/LIVE/Toonibus_md.webp 225w" media="(max-width: 1024px)" />
                    <img class="w-full h-auto" src="../../assets/poster/LIVE/Toonibus_lg.webp" loading="lazy" alt="명탐정 코난 6기 6화" />
                  </picture>
                  <figcaption class="flex flex-col">
                    <div class="inline-flex items-start -mt-2">
                      <span class="contents-rank">6</span>
                      <div class="flex flex-col mt-[2%]">
                        <span class="contents-name">Toonibus</span>
                        <span class="text-gray-400 contents-description">명탐정 코난 6기 6화</span>
                        <span class="text-gray-500 contents-description">2.9%</span>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- 카드 컴포넌트: 오직 타잉에만 있어요 -->
    <section>
      <div class="card-flex">
        <h2>오직 타잉에만 있어요</h2>
        <div class="grid grid-cols-[repeat(7,_8.6875rem)] md:grid-cols-[repeat(7,_10.5rem)] lg:grid-cols-[repeat(7,_17.625rem)] overflow-x-auto scrollbar-hide gap-4">
          <ul class="contents">
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/Universal_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/Universal_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/Universal_lg.webp" loading="lazy" alt="전체관람가: 숏버스터" />
                </picture>
              </a>
            </li>
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/love_catcher_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/love_catcher_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/love_catcher_lg.webp" loading="lazy" alt="러브캐처 인 발리" />
                </picture>
              </a>
            </li>
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/transfer_love_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/transfer_love_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/transfer_love_lg.webp" loading="lazy" alt="환승연애2" />
                </picture>
              </a>
            </li>
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/ransom_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/ransom_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/ransom_lg.webp" loading="lazy" alt="몸값" />
                </picture>
              </a>
            </li>
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/drunk_urban_women_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/drunk_urban_women_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/drunk_urban_women_lg.webp" loading="lazy" alt="술꾼도시여자들" />
                </picture>
              </a>
            </li>
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/strange_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/strange_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/strange_lg.webp" loading="lazy" alt="괴이" />
                </picture>
              </a>
            </li>
            <li>
              <a href="#">
                <picture class="main-card gap-0">
                  <source srcset="../../assets/poster/only/food_chronicle_sm.webp 145w" media="(max-width: 768px)" />
                  <source srcset="../../assets/poster/only/food_chronicle_md.webp 225w" media="(max-width: 1024px)" />
                  <img class="w-full h-auto" src="../../assets/poster/only/food_chronicle_lg.webp" loading="lazy" alt="푸드 크로니클" />
                </picture>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
