<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div class="slider-container">
      <div class="slides">
        <div class="min-w-full slide"><img class="w-full" src="../../assets/banner/banner_img_lg.webp" alt="1" /></div>
        <div class="min-w-full slide"><img class="w-full" src="../../assets/banner/banner_img_lg.webp" alt="2" /></div>
        <div class="min-w-full slide"><img class="w-full" src="../../assets/banner/banner_img_lg.webp" alt="3" /></div>
        <div class="min-w-full slide"><img class="w-full" src="../../assets/banner/banner_img_lg.webp" alt="4" /></div>
      </div>
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </div>
    <div class="indicator-container">
      <button class="control-btn">⏸</button>
      <span class="indicator active"></span>
      <span class="indicator"></span>
      <span class="indicator"></span>
      <span class="indicator"></span>
    </div>
  </body>
</html>
