<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/taing.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modals</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/js/main_page.js"></script>
  </head>
  <body class="bg-black text-white">
    <div class="dialog-area">
      <button type="button" class="show-dialog">모달창 보기</button>
      <dialog class="main-dialog mx-auto my-auto bg-transparent" aria-label="">
        <picture>
          <source srcset="../../assets/modal/modal_sm.webp" media="(max-width: 768px)" />
          <source srcset="../../assets/modal/modal_md.webp" media="(max-width: 1024px)" />
          <img src="../../assets/modal/modal_lg.webp" alt="기대해! 재미 가득 라인업" />
        </picture>
        <div class="flex justify-between text-sm md:text-base lg:text-lg px-6 md:px-10 lg:px-30 py-3 bg-[rgba(0,_0,_0,_50%)] text-white">
          <button type="button" class="close-dialog">오늘 하루 보지 않기</button>
          <span class="" aria-hidden="true">|</span>
          <button type="button" class="close-dialog">닫기</button>
        </div>
      </dialog>
    </div>
  </body>
</html>
