<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Content</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white">
    <h3>타이틀 컴포넌트</h3>
    <div class="mt-[2.75rem] md:mt-[4.625rem] lg:mt-[8.125rem]">
      <div class="justify-items-center">
        <h2
          class="pt-[28px] md:pt-[0rem] text-base md:text-[1.4644rem] lg:text-[3.1573rem] font-[700]"
        >
          프로필 선택
        </h2>
        <h3
          class="pt-[16px] md:pt-[.5rem] lg:pt-[1.25rem] text-[.7502rem] md:text-[1rem] lg:text-[1.7769rem] font-[600]"
        >
          시청자 프로필을 선택해주세요.
        </h3>
      </div>
    </div>

    <hr />

    <h3>프로필 컴포넌트</h3>
    <ul
      class="grid grid-cols-2 mx-auto md:grid-cols-4 w-fit mt-[2rem] mb-[2rem] md:mt-[1.75rem] md:mb-[2.75rem] lg:mt-[2.75rem] lg:mb-[3.125rem] gap-[1.5rem] md:gap-[2rem] lg:gap-[3.25rem] text-[.7502rem] lg:text-[1.7769rem] text-gray-300"
    >
      <!-- 프로필카드 1 -->
      <li class="relative w-fit">
        <!-- 라디오버튼(숨김) -->
        <input type="radio" id="profile1" name="profile" class="peer hidden" />

        <!-- 프로필이미지 -->
        <figure class="flex flex-col overflow-hidden">
          <img
            class="inline-block md:hidden lg:hidden"
            src="../assets/profile/profile_1_sm.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[8.25rem] hidden md:inline-block lg:hidden"
            src="../assets/profile/profile_1_md.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[14.625rem] hidden md:hidden lg:inline-block rounded-[.375rem]"
            src="../assets/profile/profile_1_lg.jpg"
            alt="캐릭터이미지-소녀"
          />
        </figure>

        <!-- 잠금아이콘 -->
        <label
          for="profile1"
          class="profile-lock absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm transition-opacity cursor-pointer peer-checked:opacity-0 peer-checked:pointer-events-none"
        >
          <img
            class="w-[3.125rem] lg:w-[3.75rem]"
            src="../assets/profile/Profile_lock.svg"
            alt="프로필 잠금 아이콘"
          />
        </label>

        <!-- 연필아이콘 -->
        <label
          for="edit-profile1"
          class="profile-edit absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm hidden cursor-pointer"
        >
          <img src="../assets/profile/Profile_Edit.svg" class="w-6" alt="편집" />
        </label>

        <figcaption class="text-center mt-[.75rem]">슬비님</figcaption>
      </li>

      <!-- 프로필카드 2 -->
      <li class="relative w-fit">
        <!-- 라디오버튼(숨김) -->
        <input type="radio" id="profile2" name="profile" class="peer hidden" />

        <!-- 프로필이미지 -->
        <figure class="flex flex-col overflow-hidden">
          <img
            class="inline-block md:hidden lg:hidden"
            src="../assets/profile/profile_1_sm.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[8.25rem] hidden md:inline-block lg:hidden"
            src="../assets/profile/profile_1_md.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[14.625rem] hidden md:hidden lg:inline-block rounded-[.375rem]"
            src="../assets/profile/profile_1_lg.jpg"
            alt="캐릭터이미지-소녀"
          />
        </figure>

        <!-- 잠금아이콘 -->
        <label
          for="profile2"
          class="profile-lock absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm transition-opacity cursor-pointer peer-checked:opacity-0 peer-checked:pointer-events-none"
        >
          <img
            class="w-[3.125rem] lg:w-[3.75rem]"
            src="../assets/profile/Profile_lock.svg"
            alt="프로필 잠금 아이콘"
          />
        </label>

        <!-- 연필아이콘 -->
        <label
          for="edit-profile2"
          class="profile-edit absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm hidden cursor-pointer"
        >
          <img src="../assets/profile/Profile_Edit.svg" class="w-6" alt="편집" />
        </label>

        <figcaption class="text-center mt-[.75rem]">슬비님</figcaption>
      </li>

      <!-- 프로필카드 3 -->
      <li class="relative w-fit">
        <!-- 라디오버튼(숨김) -->
        <input type="radio" id="profile3" name="profile" class="peer hidden" />

        <!-- 프로필이미지 -->
        <figure class="flex flex-col overflow-hidden">
          <img
            class="inline-block md:hidden lg:hidden"
            src="../assets/profile/profile_1_sm.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[8.25rem] hidden md:inline-block lg:hidden"
            src="../assets/profile/profile_1_md.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[14.625rem] hidden md:hidden lg:inline-block rounded-[.375rem]"
            src="../assets/profile/profile_1_lg.jpg"
            alt="캐릭터이미지-소녀"
          />
        </figure>

        <!-- 잠금아이콘 -->
        <label
          for="profile3"
          class="profile-lock absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm transition-opacity cursor-pointer peer-checked:opacity-0 peer-checked:pointer-events-none"
        >
          <img
            class="w-[3.125rem] lg:w-[3.75rem]"
            src="../assets/profile/Profile_lock.svg"
            alt="프로필 잠금 아이콘"
          />
        </label>

        <!-- 연필아이콘 -->
        <label
          for="edit-profile3"
          class="profile-edit absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm hidden cursor-pointer"
        >
          <img src="../assets/profile/Profile_Edit.svg" class="w-6" alt="편집" />
        </label>

        <figcaption class="text-center mt-[.75rem]">슬비님</figcaption>
      </li>

      <!-- 프로필카드 4 -->
      <li class="relative w-fit">
        <!-- 라디오버튼(숨김) -->
        <input type="radio" id="profile4" name="profile" class="peer hidden" />

        <!-- 프로필이미지 -->
        <figure class="flex flex-col overflow-hidden">
          <img
            class="inline-block md:hidden lg:hidden"
            src="../assets/profile/profile_1_sm.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[8.25rem] hidden md:inline-block lg:hidden"
            src="../assets/profile/profile_1_md.png"
            alt="캐릭터이미지-소녀"
          />
          <img
            class="w-[14.625rem] hidden md:hidden lg:inline-block rounded-[.375rem]"
            src="../assets/profile/profile_1_lg.jpg"
            alt="캐릭터이미지-소녀"
          />
        </figure>

        <!-- 잠금아이콘 -->
        <label
          for="profile4"
          class="profile-lock absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm transition-opacity cursor-pointer peer-checked:opacity-0 peer-checked:pointer-events-none"
        >
          <img
            class="w-[3.125rem] lg:w-[3.75rem]"
            src="../assets/profile/Profile_lock.svg"
            alt="프로필 잠금 아이콘"
          />
        </label>

        <!-- 연필아이콘 -->
        <label
          for="edit-profile4"
          class="profile-edit absolute inset-0 flex justify-center aspect-square items-center bg-[rgb(0,0,0,0.5)] border-0 rounded-b-sm hidden cursor-pointer"
        >
          <img src="../assets/profile/Profile_Edit.svg" class="w-6" alt="편집" />
        </label>

        <figcaption class="text-center mt-[.75rem]">슬비님</figcaption>
      </li>
    </ul>

    <hr />
    <h3>버튼 컴포넌트</h3>
    <div class="mt-[2rem] flex justify-center text-center">
      <!-- 숨겨진 체크박스 -->
      <input type="checkbox" id="edit-toggle" class="peer hidden" />
      <!-- 프로필 편집 버튼 -->
      <label
        for="edit-toggle"
        class="cursor-pointer block peer-checked:hidden text-[.7502rem] lg:text-[1.7769rem] border-1 rounded-[4px] p-[12px] w-[8.4375rem] md:w-[9.75rem] lg:w-[17rem] text-gray-300 border-gray-6oo bg-transparent"
      >
        프로필 편집
      </label>
      <!-- 완료 버튼 (체크되었을 때 보임) -->
      <label
        for="edit-toggle"
        class="cursor-pointer hidden peer-checked:block text-[.7502rem] lg:text-[1.7769rem] border-1 rounded-[4px] p-[12px] w-[8.4375rem] md:w-[9.75rem] lg:w-[17rem] bg-gray-100 text-black border-gray-6oo"
      >
        완료
      </label>

      <!-- 프로필 변경 선택창 (편집 모드에서만 표시) -->
      <!-- <div
        class="hidden peer-checked/edit:block absolute mt-8 bg-gray-800 p-4 rounded-md transition-transform translate-y-5"
      >
        <h3 class="text-lg text-white text-center">새 프로필 선택</h3>
        <ul class="grid grid-cols-3 gap-4 mt-4">
          <li>
            <input type="radio" id="new-profile1" name="new-profile" class="peer hidden" />
            <label
              for="new-profile1"
              class="block cursor-pointer border border-gray-500 p-2 rounded-md peer-checked:border-white"
            >
              <img
                src="../assets/profile/profile_1_lg.jpg"
                class="w-24 rounded-md"
                alt="새 프로필1"
              />
            </label>
          </li>
          <li>
            <input type="radio" id="new-profile2" name="new-profile" class="peer hidden" />
            <label
              for="new-profile2"
              class="block cursor-pointer border border-gray-500 p-2 rounded-md peer-checked:border-white"
            >
              <img
                src="../assets/profile/profile_2_lg.png"
                class="w-24 rounded-md"
                alt="새 프로필2"
              />
            </label>
          </li>
          <li>
            <input type="radio" id="new-profile3" name="new-profile" class="peer hidden" />
            <label
              for="new-profile3"
              class="block cursor-pointer border border-gray-500 p-2 rounded-md peer-checked:border-white"
            >
              <img
                src="../assets/profile/profile_3_lg.png"
                class="w-24 rounded-md"
                alt="새 프로필3"
              />
            </label>
          </li>
        </ul>
      </div> -->
    </div>
  </body>
</html>
