<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main card</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white">
    <div class="flex flex-col flex-nowrap gap-3 pl-5 my-5">
      <h2 class="text-lg md:text-xl lg:text-2xl">오직 타잉에만 있어요</h2>
      <div class="grid grid-cols-[repeat(8,_1fr)] overflow-hidden gap-4">
        <ul class="contents">
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/전체관람가_lg.png" alt="전체관람가: 숏버스터" />
                <figcaption class="sr-only">전체관람가: 숏버스터</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/러브캐처 인 발리_lg.png" alt="러비캐처 인 발리" />
                <figcaption class="sr-only">러비캐처 인 발리</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/환승연애2_lg.png" alt="환승연애2" />
                <figcaption class="sr-only">환승연애2</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/몸값_lg.png" alt="몸값" />
                <figcaption class="sr-only">몸값</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/술꾼도시여자들_lg.png" alt="술꾼도시여자들" />
                <figcaption class="sr-only">술꾼도시여자들</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/괴이_lg.png" alt="괴이" />
                <figcaption class="sr-only">괴이</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[8.6875rem] md:w-[10.5rem] lg:w-[17.625rem]">
                <img src="../assets/poster/only/푸드 크로니클_lg.png" alt="푸드 크로니클" />
                <figcaption class="sr-only">푸드 크로니클</figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
