<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main card</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white">
    <!-- 인기 LIVE 채널널 -->
    <div class="flex flex-col flex-nowrap gap-3 pl-5 my-5">
      <h2 class="text-lg md:text-xl lg:text-2xl">인기 LIVE 채널</h2>
      <div class="grid grid-cols-[repeat(8,_1fr)] overflow-hidden gap-4">
        <ul class="contents">
          <li>
            <a href="#">
              <figure class="main-card w-[9.0625rem] relative md:w-[14.0625rem] lg:w-[21.5625rem]">
                <img src="../assets/poster/LIVE/JTBC_lg.png" alt="JTBC 뉴스룸" />
                <figcaption class="flex flex-col">
                  <div class="contents-name inline-flex items-start -mt-2">
                    <span class="contents-rank">1</span>
                    <div class="flex flex-col mt-[2%]">
                      <span class="contents-name">JTBC</span>
                      <span class="text-gray-400 text-[.625rem] md:text-xs lg:text-sm">JTBC 뉴스룸</span>
                      <span class="text-gray-500 text-[.625rem] md:text-xs lg:text-sm">27.9%</span>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[9.0625rem] relative md:w-[14.0625rem] lg:w-[21.5625rem]">
                <img src="../assets/poster/LIVE/tvN_lg.png" alt="줄 서는 식당 43회" />
                <figcaption class="flex flex-col">
                  <div class="contents-name inline-flex items-start -mt-2">
                    <span class="contents-rank">2</span>
                    <div class="flex flex-col mt-[2%]">
                      <span class="contents-name">tvN</span>
                      <span class="text-gray-400 text-[.625rem] md:text-xs lg:text-sm">줄 서는 식당 43회</span>
                      <span class="text-gray-500 text-[.625rem] md:text-xs lg:text-sm">26.3%</span>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[9.0625rem] relative md:w-[14.0625rem] lg:w-[21.5625rem]">
                <img src="../assets/poster/LIVE/YTN_lg.png" alt="뉴스가 있는 저녁" />
                <figcaption class="flex flex-col">
                  <div class="contents-name inline-flex items-start -mt-2">
                    <span class="contents-rank">3</span>
                    <div class="flex flex-col mt-[2%]">
                      <span class="contents-name">YTN</span>
                      <span class="text-gray-400 text-[.625rem] md:text-xs lg:text-sm">뉴스가 있는 저녁</span>
                      <span class="text-gray-500 text-[.625rem] md:text-xs lg:text-sm">9%</span>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[9.0625rem] relative md:w-[14.0625rem] lg:w-[21.5625rem]">
                <img src="../assets/poster/LIVE/JTBC2_lg.png" alt="재벌집 막내아들 5화" />
                <figcaption class="flex flex-col">
                  <div class="contents-name inline-flex items-start -mt-2">
                    <span class="contents-rank">4</span>
                    <div class="flex flex-col mt-[2%]">
                      <span class="contents-name">JTBC2</span>
                      <span class="text-gray-400 text-[.625rem] md:text-xs lg:text-sm">재벌집 막내아들 5화</span>
                      <span class="text-gray-500 text-[.625rem] md:text-xs lg:text-sm">6.2%</span>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[9.0625rem] relative md:w-[14.0625rem] lg:w-[21.5625rem]">
                <img src="../assets/poster/LIVE/YonhapNewsTV_lg.png" alt="뉴스프라임" />
                <figcaption class="flex flex-col">
                  <div class="contents-name inline-flex items-start -mt-2">
                    <span class="contents-rank">5</span>
                    <div class="flex flex-col mt-[2%]">
                      <span class="contents-name">연합뉴스 TV</span>
                      <span class="text-gray-400 text-[.625rem] md:text-xs lg:text-sm">뉴스프라임</span>
                      <span class="text-gray-500 text-[.625rem] md:text-xs lg:text-sm">4.6%</span>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure class="main-card w-[9.0625rem] relative md:w-[14.0625rem] lg:w-[21.5625rem]">
                <img src="../assets/poster/LIVE/Toonibus_lg.png" alt="명탐정 코난 6기 6화" />
                <figcaption class="flex flex-col">
                  <div class="contents-name inline-flex items-start -mt-2">
                    <span class="contents-rank">6</span>
                    <div class="flex flex-col mt-[2%]">
                      <span class="contents-name">Toonibus</span>
                      <span class="text-gray-400 text-[.625rem] md:text-xs lg:text-sm">명탐정 코난 6기 6화</span>
                      <span class="text-gray-500 text-[.625rem] md:text-xs lg:text-sm">2.9%</span>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
