<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main card</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-black text-white">
    <article>
      <!-- 이벤트 -->
      <div class="flex flex-col flex-nowrap gap-3 pl-5 my-5">
        <h2 class="text-lg md:text-xl lg:text-2xl">이벤트</h2>
        <div class="grid grid-cols-[repeat(8,_1fr)] overflow-hidden gap-4">
          <ul class="contents">
            <li>
              <a href="#">
                <figure class="main-card w-[9.0625rem] md:w-[13.375rem] lg:w-[21.625rem]">
                  <img src="../assets/poster/events/sinbi_apart_lg.png" alt="극장판 신비아파트 예매권 증정 이벤트" />
                  <figcaption class="sr-only">극장판 신비아파트 예매권 증정 이벤트</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card w-[9.0625rem] md:w-[13.375rem] lg:w-[21.625rem]">
                  <img src="../assets/poster/events/chaebol_son_lg.png" alt="재벌집 막내아들 시청하고 1일 재벌 체험하기" />
                  <figcaption class="sr-only">재벌집 막내아들 시청하고 1일 재벌 체험하기</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card w-[9.0625rem] md:w-[13.375rem] lg:w-[21.625rem]">
                  <img src="../assets/poster/events/transfer_relationship_lg.png" alt="환승연애2의 진한 여운을 잇는 과몰입 도파민 충전 이벤트" />
                  <figcaption class="sr-only">환승연애2의 진한 여운을 잇는 과몰입 도파민 충전 이벤트</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card w-[9.0625rem] md:w-[13.375rem] lg:w-[21.625rem]">
                  <img src="../assets/poster/events/shurup_lg.png" alt="슈룹 시청하고 공식 우산 굿즈 받기" />
                  <figcaption class="sr-only">슈룹 시청하고 공식 우산 굿즈 받기</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card w-[9.0625rem] md:w-[13.375rem] lg:w-[21.625rem]">
                  <img src="../assets/poster/events/desert_maker_lg.png" alt="디저트 메이커를 찾습니다!" />
                  <figcaption class="sr-only">디저트 메이커를 찾습니다!</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="main-card w-[9.0625rem] md:w-[13.375rem] lg:w-[21.625rem]">
                  <img src="../assets/poster/events/let_me_in_lg.png" alt="소설 원작 렛미인 감상하고 원작 도서 세트 받기" />
                  <figcaption class="sr-only">소설 원작 렛미인 감상하고 원작 도서 세트 받기</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </body>
</html>
