<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 로고 컴포넌트 -->
    <header class="pt-5 md:pt-8 lg:pt-10 px-5 md:px-8 lg:px-10">
      <a href="/src/pages/main_page.html">
        <img
          src="/src/assets/login/taing_logo.svg"
          alt="TAING 메인 이동"
          class="h-6 md:h-8 lg:h-10"
        />
      </a>
    </header>

    <!-- 타이틀 컴포넌트 -->
    <h1
      class="text-center text-heading-x-l md:text-heading-x-x-l lg:text-heading-x-x-x-l font-bold mb-8 md:mb-10 lg:mb-12 text-white"
    >
      아이디 찾기
    </h1>

    <!-- 항목 & 설명 -->
    <div class="leading-7 pb-3">
      <h2 class="font-semibold text-white-origin">이메일로 찾기</h2>
      <p class="text-gray-400">가입 시 등록한 이메일을 입력해주세요.</p>
    </div>

    <!-- 이메일 입력 & 활성화/비활성화 버튼 컴포넌트 -->
    <form>
      <fieldset>
        <!-- 이메일 입력 컴포넌트 -->
        <label class="sr-only" for="input_email">이메일</label>
        <input
          type="email"
          id="input_email"
          name="input_email"
          required
          placeholder="이메일"
          aria-errormessage="error_email"
          class="peer w-full bg-brand-dark-bg-2 border border-gray-700 rounded text-white py-3.5 px-4 text-label-medium"
        />
        <p
          class="text-brand-red-2 text-paragraph-medium font-semibold mt-1 hidden peer-focus:peer-invalid:block"
          id="error_email"
          aria-live="polite"
        >
          <span>이메일 주소를 입력하세요.</span>
        </p>
        <!-- 버튼 컴포넌트 -->
        <button
          type="submit"
          class="w-full bg-brand-red-1 peer-valid:hover:bg-brand-red-2 text-white rounded py-3.5 font-bold my-6 text-label-large peer-invalid:bg-gray-700 peer-invalid:text-gray-400"
        >
          확인
        </button>
      </fieldset>
    </form>

    <!-- 구분선 컴포넌트 -->
    <div class="flex items-center my-6 h-24">
      <div class="flex-grow h-px bg-gray-700"></div>
      <span class="px-4 text-gray-500 text-sm">또는</span>
      <div class="flex-grow h-px bg-gray-700"></div>
    </div>

    <!-- 푸터 섹션 컴포넌트 -->
    <footer
      class="w-full p-5 md:px-8 lg:px-10 border-t-gray-800 border-2 border-l-0 border-r-0 border-b-0"
    >
      <!-- 유틸리티 링크 -->
      <nav class="text-left">
        <ul class="flex max-md:flex-col gap-x-3 gap-y-2 mb-4 text-paragraph-small text-gray-500">
          <li><a href="#" class="hover:text-gray-300">고객센터</a></li>
          <li><a href="#" class="hover:text-gray-300">이용약관</a></li>
          <li><a href="#" class="hover:text-gray-300">개인정보처리방침</a></li>
          <li><a href="#" class="hover:text-gray-300">청소년 보호정책</a></li>
          <li><a href="#" class="hover:text-gray-300">법적고지</a></li>
          <li><a href="#" class="hover:text-gray-300">이벤트</a></li>
          <li><a href="#" class="hover:text-gray-300">인재채용</a></li>
        </ul>

        <!-- 태블릿, 데스크탑에만 표시되는 추가 정보 -->
        <address
          class="hidden md:block text-label-small text-gray-600 mb-4 leading-relaxed not-italic"
        >
          <p>
            대표이사 : YANG JIEUL | 사업자등록번호 : 188-88-01893 | 통신판매신고번호 :
            2020-서울마포-3641호
          </p>
          <p>
            사업장 : 서울특별시 마포구 상암산로 34, DMC디지털큐브 15층(상암동) | 호스팅사업자 :
            씨제이올리브네트웍스(주)
          </p>
          <p>
            고객센터 (평일 09시~17시/점심시간 13시~14시) | 대표메일 : taing@cj.net | 전화번호(ARS) :
            1670-1525 (평일/주말 상담 운영)
          </p>
          <p>
            ENM 시청자 상담실 (편성 문의 및 시청자 의견) : 080-080-0780 | Mnet
            고객센터(방송편성문의) : 1855-1631
          </p>
        </address>

        <!-- 소셜 미디어 링크 -->
        <ul class="flex gap-4 mb-4">
          <li>
            <a href="/" aria-label="유튜브" class="text-gray-600 hover:text-gray-400">
              <img src="/src/assets/login/youtube.svg" alt="" class="size-5" />
            </a>
          </li>
          <li>
            <a href="/" aria-label="인스타그램" class="text-gray-600 hover:text-gray-400">
              <img src="/src/assets/login/instagram.svg" alt="" class="size-5" />
            </a>
          </li>
          <li>
            <a href="/" aria-label="트위터" class="text-gray-600 hover:text-gray-400">
              <img src="/src/assets/login/twitter.svg" alt="" class="size-5" />
            </a>
          </li>
          <li>
            <a href="/" aria-label="페이스북" class="text-gray-600 hover:text-gray-400">
              <img src="/src/assets/login/facebook.svg" alt="" class="size-5" />
            </a>
          </li>
        </ul>

        <!-- 저작권 정보 -->
        <small class="text-paragraph-small text-gray-600 block"
          >© TAING Corp. ALL RIGHTS RESERVED.</small
        >
      </nav>
    </footer>
  </body>
</html>
