<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Description</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/js/login_page.js"></script>
  </head>
  <body class="base-body">
    <main class="page-container animate-fadeIn" role="main">
      <section class="content-section" role="region" aria-labelledby="find-id-title">
        <!-- 타이틀 -->
        <h1 class="page-title" id="find-id-title">제목</h1>

        <!-- 항목 & 설명 -->
        <div class="section-header">
          <h2 id="email-find-title" class="section-title">부제목</h2>
          <p class="section-description">내용</p>
        </div>

        <!-- 구분선 -->
        <div class="divider" role="separator" aria-orientation="horizontal">
          <div class="divider-line"></div>
          <span class="divider-text">또는</span>
          <div class="divider-line"></div>
        </div>
      </section>
    </main>
  </body>
</html>
