<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Forms</title>
    <link rel="icon" href="/taing.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/js/login_page.js"></script>
  </head>
  <body class="base-body">
    <main class="page-container animate-fadeIn" role="main">
      <section class="content-section" role="region" aria-labelledby="signup-title">
        <h1 id="signup-title" class="page-title sr-only">폼 요소</h1>
        <form class="group/btn" role="form" aria-labelledby="signup-title">
          <!-- 아이디 입력 -->
          <div class="input-container">
            <label class="sr-only" for="input_id">아이디</label>
            <input type="text" pattern="[a-zA-Z][a-zA-Z0-9]{5,11}" id="input_id" name="input_id" required aria-required="true" placeholder="아이디" aria-errormessage="error_id" class="input-field peer" />
            <p class="error-message peer-placeholder-shown:hidden peer-valid:hidden" id="error_id" aria-live="polite">
              <span>아이디는 영문 또는 영문, 숫자 조합 6~12자리까지 입력 가능합니다.</span>
            </p>
          </div>

          <!-- 비밀번호 입력 -->
          <div class="input-container">
            <label class="sr-only" for="input_pw">비밀번호</label>
            <input class="password-field peer" type="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{8,15}" id="input_pw" name="input_pw" required aria-required="true" placeholder="비밀번호" aria-errormessage="error_pw" />
            <button type="button" id="togglePassword" class="password-toggle" aria-label="비밀번호 보기" onclick="togglePasswordVisibility(this)">
              <img src="/src/assets/login/unvisible_pwicon.svg" alt="" class="size-5 toggle-icon" />
            </button>
            <p class="error-message peer-placeholder-shown:hidden peer-valid:hidden" id="error_pw" aria-live="polite">
              <span>비밀번호는 영문 소문자, 숫자, 특수문자 포함 최소 8~15자리까지 입력 가능합니다.</span>
            </p>
          </div>

          <!-- 비밀번호 확인 -->
          <div class="input-container">
            <label class="sr-only" for="input_pw_confirm">비밀번호 확인</label>
            <input class="password-field peer" type="password" id="input_pw_confirm" name="input_pw_confirm" required aria-required="true" placeholder="비밀번호 확인" aria-errormessage="error_pw_confirm" />
            <button type="button" id="togglePasswordConfirm" class="password-toggle" aria-label="비밀번호 확인 보기" onclick="togglePasswordVisibility(this)">
              <img src="/src/assets/login/unvisible_pwicon.svg" alt="" class="size-5 toggle-icon" />
            </button>
            <p class="error-message hidden" id="error_pw_confirm" aria-live="polite">
              <span>비밀번호가 일치하지 않습니다.</span>
            </p>
          </div>

          <!-- 이메일 입력 -->
          <div class="input-container">
            <label class="sr-only" for="input_email">이메일</label>
            <input type="email" id="input_email" name="input_email" required aria-required="true" placeholder="이메일" aria-errormessage="error_email" class="input-field peer" />
            <p class="error-message peer-placeholder-shown:hidden peer-valid:hidden" id="error_email" aria-live="polite">
              <span>이메일 주소를 입력하세요.</span>
            </p>
          </div>

          <!-- 체크박스 그룹 -->
          <ul class="checkbox-list">
            <!-- 체크박스 - 전체 동의 -->
            <li class="checkbox-item-all">
              <label for="checkbox_all" class="checkbox-label-all">
                <input type="checkbox" id="checkbox_all" class="sr-only peer main-checkbox" onchange="toggleAllCheckboxes()" aria-controls="checkbox_1" />
                <span class="checkbox-mark-all peer-checked:bg-brand-red-2 peer-focus-visible:outline-2 peer-focus-visible:outline-white peer-focus-visible:outline-offset-2">
                  <svg width="15" height="15" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                    <path d="M2 5L4 7L8 3" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
                필수 및 선택 항목을 모두 포함하여 동의합니다.
              </label>
            </li>

            <!-- 체크박스 1 -->
            <li class="checkbox-item group">
              <label for="checkbox_1" class="checkbox-label">
                <input type="checkbox" id="checkbox_1" required aria-required="true" class="peer sr-only sub-checkbox focus-visible:outline-none" onchange="updateAllCheckbox()" />
                <span class="checkbox-mark peer-focus-visible:outline-2 peer-focus-visible:outline-white-origin peer-focus-visible:outline-offset-2">
                  <svg width="20" height="20" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                    <path d="M2 5L4 7L8 3" stroke="gray" class="group-[&:has(input:checked)]:stroke-brand-red-2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
                내용
              </label>
            </li>
          </ul>

          <!-- 버튼 -->
          <button type="submit" class="disabled-button group-valid/btn:bg-brand-red-1 group-valid/btn:text-white-origin group-valid/btn:hover:bg-brand-red-2 mb-12">버튼 이름</button>
          <span id="button-description" class="sr-only">활성화 조건</span>
        </form>
      </section>
    </main>
  </body>
</html>
