<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logout Modal</title>
    <link rel="icon" href="/taing.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/js/login_page.js"></script>
  </head>
  <body>
    <h1 class="sr-only">로그아웃 모달 컴포넌트</h1>
    <!-- 해당 컴포넌트를 사용할 때는 id, class값이 겹치지 않는 지 확인 후 수정 -->
    <!-- 로그아웃 버튼 -->
    <button type="button" class="show-dialog hidden md:block">로그아웃</button>
    <!-- modal -->
    <dialog class="panel-dialog rounded-sm shadow-2xl opacity-0 open:opacity-100 transition-opacity duration-200 p-0 border-none min-w-2xs w-1/4 bg-gray-700 fixed inset-0 m-auto" aria-labelledby="logout-confirmation">
      <!-- contents의 여백 & 텍스트 정렬 -->
      <div class="p-3 text-center">
        <!-- 제목 -->
        <p class="text-white-origin my-6 text-label-large" id="logout-confirmation">로그아웃 하시겠습니까?</p>

        <!-- 버튼 그룹 -->
        <div class="flex justify-center items-center mb-2 font-semibold">
          <a href="/src/pages/landing_page.html" class="text-gray-300 hover:bg-brand-red-2 hover:text-white-origin px-5 py-2 rounded-sm text-label-medium">확인</a>
          <!-- 구분선 -->
          <div class="h-4 border-r border-gray-500 mx-5"></div>
          <button type="button" class="close-dialog text-gray-300 hover:bg-gray-600 hover:text-white-origin px-5 py-2 rounded-sm text-label-medium">취소</button>
        </div>
      </div>
    </dialog>
  </body>
</html>
