<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modals</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/js/login_page.js"></script>
  </head>
  <body class="bg-black text-white">
    <!-- 로그아웃 버튼 -->
    <button type="button" class="show-dialog hidden md:block">로그아웃</button>
    <!-- 로그아웃 modal -->
    <dialog class="panel-dialog rounded-sm shadow-2xl opacity-0 open:opacity-100 transition-opacity duration-200 p-0 border-none min-w-2xs w-1/4 bg-gray-700 fixed inset-0 m-auto" aria-labelledby="logout-confirmation">
      <!-- contents의 여백 & 텍스트 정렬 -->
      <div class="p-3 text-center">
        <!-- 제목 -->
        <p class="text-white-origin my-6 text-label-large" id="logout-confirmation">로그아웃 하시겠습니까?</p>

        <!-- 버튼 그룹 -->
        <div class="flex justify-center items-center mb-2 font-semibold">
          <a href="/src/pages/landing_page.html" class="text-gray-300 hover:bg-brand-red-2 hover:text-white-origin px-5 py-2 rounded-sm text-label-medium">확인</a>
          <!-- 구분선 -->
          <div class="h-4 border-r border-gray-500 mx-5"></div>
          <button type="button" class="close-dialog text-gray-300 hover:bg-gray-600 hover:text-white-origin px-5 py-2 rounded-sm text-label-medium">취소</button>
        </div>
      </div>
    </dialog>

    <!-- 선진님 - main-page modal -->
    <!-- <div class="dialog-area">
      <button type="button" class="show-dialog">모달창 보기</button>
      <dialog class="panel-dialog mx-auto my-auto bg-transparent" aria-label="">
        <picture>
          <source srcset="../assets/modal/modal_sm.png" media="(max-width: 768px)" />
          <source srcset="../assets/modal/modal_md.png" media="(max-width: 1024px)" />
          <img src="../assets/modal/modal_lg.png" alt="기대해! 재미 가득 라인업" />
        </picture>
        <div class="flex justify-between text-sm md:text-base lg:text-lg px-6 md:px-10 lg:px-30 py-3 bg-[rgba(0,_0,_0,_50%)] text-white">
          <button type="button" class="close-dialog">오늘 하루 보지 않기</button>
          <span class="" aria-hidden="true">|</span>
          <button type="button" class="close-dialog">닫기</button>
        </div>
      </dialog>
    </div> -->
  </body>
</html>
