@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;

  /* Color styles */
  --color-black-origin: #000000;
  --color-white-origin: #ffffff;
  --color-gray-100: #e1e1e1;
  --color-gray-200: #c4c4c4;
  --color-gray-300: #a6a6a6;
  --color-gray-400: #898989;
  --color-gray-500: #6b6b6b;
  --color-gray-600: #565656;
  --color-gray-700: #404040;
  --color-gray-800: #2b2b2b;
  --color-gray-900: #151515;
  --color-brand-red-1: #ff153c;
  --color-brand-red-2: #e93945;
  --color-brand-dark-bg-1: #191919;
  --color-brand-dark-bg-2: #212121;

  /* Text-size styles */
  --text-heading-medium: 1rem;
  --text-heading-large: 1.33rem;
  --text-heading-x-l: 1.78rem;
  --text-heading-x-x-l: 2.37rem;
  --text-heading-x-x-x-l: 3.16rem;
  --text-label-small: 0.75rem;
  --text-label-medium: 1rem;
  --text-label-large: 1.33rem;
  --text-label-x-l: 1.78rem;
  --text-label-x-x-l: 2.37rem;
  --text-paragraph-small: 0.75rem;
  --text-paragraph-medium: 1rem;
  --text-paragraph-large: 1.33rem;
  --text-paragraph-x-l: 1.78rem;
}

@layer components {
  .screen-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .main-card {
    @apply flex flex-col flex-nowrap gap-2 overflow-hidden w-[5.75rem] md:w-[8.125rem] lg:w-[15rem];

    .contents-name {
      @apply text-gray-300 text-xs md:text-sm lg:text-base;
    }
    .contents-episode {
      @apply text-gray-300 text-[.625rem] md:text-xs lg:text-sm;
    }
    .Quick-VOD {
      @apply bg-[#C73E4E] w-[fit-content] m-1.5 h-[fit-content] flex text-center items-center px-2 py-1 rounded-sm text-[10px] md:text-xs lg:text-sm absolute;
    }
    .contents-rank {
      @apply text-white font-sans font-medium text-3xl md:text-5xl lg:text-7xl italic mr-[10%];
    }
    .new-sign {
      @apply bg-[#E93945] w-1 h-1 md:w-[.3125rem] md:h-[.3125rem] lg:w-1.5 lg:h-1.5 -translate-y-1.5 md:-translate-y-2 lg:-translate-y-2.5 rounded-[50%];
    }
  }

  @keyframes slideleft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes slideright {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /* 슬라이더 애니메이션 */
  @keyframes slide-animation {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* 각 슬라이드에 맞는 인디케이터 상태 */
  @keyframes indicator-animation {
    0%,
    24.9% {
      background-color: #ffffff; /* 흰색 */
      transform: scale(1);
    }
    25%,
    100% {
      background-color: #898989; /* 회색 */
      transform: scale(1);
    }
  }
  .slides {
    @apply flex w-full h-full animate-[slide-animation_20s_infinite];
    .slide {
      @apply w-full h-full flex-shrink-0 flex;
    }
  }

  dialog.panel-dialog::backdrop {
    background: rgba(0, 0, 0, 90%);
  }

  /* 애니메이션 정의 */
  @keyframes text-animation {
    0%,
    24.9% {
      display: block; /* 보이도록 설정 */
    }
    25%,
    100% {
      display: none; /* 숨김 처리 */
    }
  }

  .p-container {
    p {
      animation: text-animation 20s infinite; /* 16초 애니메이션 반복 */
    }
    /* 각 p 요소의 애니메이션 */
    p:nth-of-type(1) {
      animation-delay: 0s; /* 첫 번째 문장 */
    }

    p:nth-of-type(2) {
      animation-delay: 5s; /* 두 번째 문장 */
    }

    p:nth-of-type(3) {
      animation-delay: 10s; /* 세 번째 문장 */
    }

    p:nth-of-type(4) {
      animation-delay: 15s; /* 네 번째 문장 */
    }
  }

  /* 인디케이터 스타일 */
  .indicators {
    /* position: absolute;
    bottom: 10%;
    left: 15%; */
    /* transform: translateX(-50%); */
    display: flex;
    gap: 0.3125rem;
  }

  .indicator {
    width: 10px;
    height: 10px;
    background: #898989;
    border-radius: 50%;
  }

  .indicator:nth-child(1) {
    animation: indicator-animation 20s infinite;
  }
  .indicator:nth-child(2) {
    animation: indicator-animation 20s infinite 5s;
  }
  .indicator:nth-child(3) {
    animation: indicator-animation 20s infinite 10s;
  }
  .indicator:nth-child(4) {
    animation: indicator-animation 20s infinite 15s;
  }

  /* 일시정지 버튼 스타일 */
  .pause-button {
    cursor: pointer;
  }
}

/* edit-toggle이 체크되었을 때 위 요소들에 영향을 줌 */
body:has(#edit-toggle:checked) .profile-lock {
  display: none;
}
body:has(#edit-toggle:checked) .profile-edit {
  display: flex;
}
